<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends</title>
    <link rel="stylesheet" href="../styles/friends.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <img src="../Img/fbRound.png" alt="Logo" class="logo">
            <div class="search-box">
                <i class="fa-solid fa-search"></i>
                <input type="text" placeholder="Search Facebook">
            </div>
        </div>
        <div class="nav-middle">
            <a href="../homepage.html"><i class="fa-solid fa-house"></i></a>
            <a href="./friends.html" class="active"><i class="fa-solid fa-user-group"></i></a>
            <a href="./video.html"><i class="fa-solid fa-video"></i></a>
            <a href="./marketplace.html"><i class="fa-solid fa-store"></i></a>
            <a href="./games.html"><i class="fa-solid fa-gamepad"></i></a>
        </div>
        <div class="nav-right">
            <div class="profile-icon">
                <img src="../Img/herm.webp" alt="Profile">
            </div>
            <i class="fa-solid fa-bell"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-caret-down"></i>
        </div>
    </nav>

    <div class="container">
        <div class="left-sidebar">
            <h2>Friends</h2>
            <div class="friends-menu">
                <a href="#" class="menu-item active">
                    <i class="fa-solid fa-house"></i>
                    <span>Home</span>
                </a>
                <a href="#" class="menu-item">
                    <i class="fa-solid fa-user-plus"></i>
                    <span>Friend Requests</span>
                </a>
                <a href="#" class="menu-item">
                    <i class="fa-solid fa-user-check"></i>
                    <span>Suggestions</span>
                </a>
                <a href="#" class="menu-item">
                    <i class="fa-solid fa-users"></i>
                    <span>All Friends</span>
                </a>
                <a href="#" class="menu-item">
                    <i class="fa-solid fa-cake-candles"></i>
                    <span>Birthdays</span>
                </a>
                <a href="#" class="menu-item">
                    <i class="fa-solid fa-list"></i>
                    <span>Custom Lists</span>
                </a>
            </div>
        </div>

        <div class="main-content">
            <div class="friends-header">
                <h3>People You May Know</h3>
                <a href="#" class="see-all">See All</a>
            </div>
            
            <div class="friend-suggestions">
                <div class="friend-card">
                    <img src="../Img/albus.webp" alt="Friend suggestion" class="friend-photo">
                    <div class="friend-info">
                        <h4>Albus Dumbledore</h4>
                        <span>7 mutual friend</span>
                        <button class="add-friend">Add Friend</button>
                        <button class="remove">Remove</button>
                    </div>
                </div>

                <div class="friend-card">
                    <img src="../Img/minerva.jpeg" alt="Friend suggestion" class="friend-photo">
                    <div class="friend-info">
                        <h4>Minerva Mgconnagal</h4>
                        <span>13 mutual friend</span>
                        <button class="add-friend">Add Friend</button>
                        <button class="remove">Remove</button>
                    </div>
                </div>

                <div class="friend-card">
                    <img src="../Img/snape.jpeg" alt="Friend suggestion" class="friend-photo">
                    <div class="friend-info">
                        <h4>Severus Snape</h4>
                        <span>1 mutual friend</span>
                        <button class="add-friend">Add Friend</button>
                        <button class="remove">Remove</button>
                    </div>
                </div>

                <div class="friend-card">
                    <img src="../Img/hagrid.jpeg" alt="Friend suggestion" class="friend-photo">
                    <div class="friend-info">
                        <h4>Hagrid</h4>
                        <span>9 mutual friend</span>
                        <button class="add-friend">Add Friend</button>
                        <button class="remove">Remove</button>
                    </div>
                </div>

                <div class="friend-card">
                    <img src="../Img/lucius.jpeg" alt="Friend suggestion" class="friend-photo">
                    <div class="friend-info">
                        <h4>Lucius Malfoy</h4>
                        <span>1 mutual friend</span>
                        <button class="add-friend">Add Friend</button>
                        <button class="remove">Remove</button>
                    </div>
                </div>

                <div class="friend-card">
                    <img src="../Img/ArgusFilch.webp" alt="Friend suggestion" class="friend-photo">
                    <div class="friend-info">
                        <h4>Argus Filch</h4>
                        <span>3 mutual friend</span>
                        <button class="add-friend">Add Friend</button>
                        <button class="remove">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>