<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace | Facebook Clone</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/marketplace.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <img src="../Img/fbRound.png" alt="Logo" class="logo">
            <div class="search-box">
                <i class="fa-solid fa-search"></i>
                <input type="text" placeholder="Search Marketplace">
            </div>
        </div>
        <div class="nav-middle">
            <a href="../homepage.html"><i class="fa-solid fa-house"></i></a>
            <a href="./friends.html"><i class="fa-solid fa-user-group"></i></a>
            <a href="./video.html"><i class="fa-solid fa-video"></i></a>
            <a href="#" class="active"><i class="fa-solid fa-store"></i></a>
            <a href="./games.html"><i class="fa-solid fa-gamepad"></i></a>
        </div>
        <div class="nav-right">
            <div class="profile-icon">
                <img src="../Img/herm.webp" alt="Profile">
            </div>
            <i class="fa-solid fa-bell"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-caret-down"></i>
        </div>
    </nav>

    <div class="marketplace-container">
        <div class="unavailable-content">
            <div class="unavailable-icon">
                <i class="fa-solid fa-lock"></i>
                <i class="fa-regular fa-file"></i>
            </div>
            <h1>Marketplace isn't available to you</h1>
            <p>This might be because Marketplace isn't available in your country, you just joined Facebook, or your account doesn't meet our age and eligibility criteria.</p>
            <button class="learn-more">Learn more</button>
        </div>
    </div>
</body>
</html>